# Pliki środowiskowe
.env
# Express.js ignore files
node_modules/
dist/


*.log
*.gz
*.log

/.vscode
/.idea
*.tmp
*.temp
*.bak

# Logi błędów
npm-debug.log*

# Plik konfiguracyjny Yarn
.yarn

# Pliki tymczasowe Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Pliky Visual Studio Code
.vscode/
*.code-workspace

# Katalog yarn cache
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml

# Katalogi specyficzne dla różnych narzędzi
.idea/
.eslintcache
.pnp/
.pnpm/
npm-debug.log*
yarn-error.log*