@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark-primary: 15, 23, 42;
  --dark-secondary: 30, 41, 59;
  --dark-tertiary: 41, 53, 72;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: rgb(var(--dark-primary));
  color: white;
  overflow: hidden;
}
